.listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.listing img {
  width: 350px;
  height: 250px;
  border-radius: 12px;
}


.listingitem {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  color: blue;
}

.listingitem p {
  line-height: 0.1;
}

.search-form {
  /* Specify the path to your background image */
  background-size: cover;
  /* Cover the entire element with the background image */
  padding: 20px;
  height: 250px;
  background-repeat: no-repeat;
}


.bannerimg {
  padding: 20px;
  border-radius: 28px;
}


form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* Arrange items horizontally */
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  flex-direction: column;
  margin: 12px;
}

.searchinput {
  padding: 10px;
  /* Set default border color */
  border: 2px solid lightgray;
  margin: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.btnsearch {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.loaderanim {
  justify-content: center;
  margin: 0 auto;
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #00BF63;
  box-shadow:
    calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn)
  }
}

.searchcard {
  /* Add shadows to create the "card" effect */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}